<style type="text/css">
	body {
		background: #1e2126;
	}
</style>
<div class="container">
	<h1 style="color: #FFFFFF; font-weight: lighter; text-align: center; margin-top: 100px;">Welcome to the <span style="color: #ab9cd7; font-size: 40px;">+ </span> Bed Management System.</h1>
	<h3 style="color: #FFFFFF; font-weight: lighter; text-align: center;">Please login to use the system.</h3>
	<div class="row" style=" height: 100%; margin-top: 100px;">
		<div class="col-md-2" style="background: #1e2126; padding: 0; margin: auto; margin-top: 100px; margin-bottom: 100px;">
			<a href="http://localhost:3000/users/register" class="purple-inside-black">Register</a>
		</div>
		<div class="col-md-2" style="background: #1e2126; padding: 0; margin: auto; margin-top: 100px; margin-bottom: 100px;">
			<a href="http://localhost:3000/users/login" class="turqoise-inside-black">Login</a>
		</div>
	</div>
</div>

